{% extends 'base_config.html' %}
    
{% block content %}    

<main class="mdl-layout__content ui-list-components">

    <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

            <div class="mdl-card">
                <div class="mdl-card__title">
                    <h5 class="mdl-card__title-text text-color--white">List components</h5>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone">
                            <span class="list-title text-color--smooth-gray">SIMPLE LIST</span>
                            <ul class="mdl-list">
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      Nathan Fillion
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      Gina Torres
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      Alan Tudyk
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      Morena Baccarin
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      Adam Baldwin
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone">
                            <span class="list-title text-color--smooth-gray">AVATARS AND ACTIONS</span>
                            <div class="mdl-list">
                                <div class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Nathan Fillion</span>
                                    </span>
                                    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </div>
                                <div class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Gina Torres</span>
                                    </span>
                                    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                </div>
                                <div class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Alan Tudyk</span>
                                    </span>
                                    <span class="mdl-list__item-secondary-content">
                                      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone">
                            <span class="list-title text-color--smooth-gray">AVATARS AND CONTROLS</span>
                            <ul class="mdl-list">
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      Nathan Fillion
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                      <label class="mdl-checkbox checkbox--colored-light-blue mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                                        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                                      </label>
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      Gina Torres
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                      <label class="mdl-radio radio--colored-light-blue mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
                                        <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" />
                                      </label>
                                    </span>
                                </li>
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      Alan Tudyk
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                      <label class="mdl-switch switch--colored-light-blue mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                                        <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                                      </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <span class="list-title text-color--smooth-gray">TWO LINES</span>
                            <ul class="mdl-list">
                                <li class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Nathan Fillion</span>
                                      <span class="mdl-list__item-sub-title">Malcolm “Mal” Reynolds </span>
                                    </span>
                                    <span class="mdl-list__item-secondary-content">
                                      <span class="mdl-list__item-secondary-info">Star</span>
                                      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                    </span>
                                </li>
                                <li class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Gina Torres</span>
                                      <span class="mdl-list__item-sub-title"> Zoe Alleyne Washburne</span>
                                    </span>
                                    <span class="mdl-list__item-secondary-content">
                                      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                    </span>
                                </li>
                                <li class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
                                      <div class="mdl-list__item-avatar"></div>
                                      <span>Alan Tudyk</span>
                                      <span class="mdl-list__item-sub-title">Hoban “Wash” Washburne</span>
                                    </span>
                                    <span class="mdl-list__item-secondary-content">
                                      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{% endblock %}  
   
