{% extends 'base_auth.html' %}
{% block title %}Reset de Senha Completo{% endblock %}
{% block content_auth %} 

<div class="page">
    
  <form class="formLogin">
      <i class="fas fa-check-circle fa-2x"></i>
      <span>Sua senha foi alterada com sucesso</span>

    

      </div>
     
      <p><a href="{% url 'login' %}">Fazer Login</a></p>
      
  </form>
</div>


<div class="d-flex text-success">
    <i class="fas fa-check-circle fa-2x"></i>
		<h3>Sua senha foi alterada com sucesso!</h3>
</div>
 
{% endblock %}