{% load static %}


<!-- inject:js -->
<script src="{% static 'config/js/d3.min.js' %}"></script>
<script src="{% static 'config/js/getmdl-select.min.js' %}"></script>
<script src="{% static 'config/js/material.min.js' %}"></script>
<script src="{% static 'config/js/nv.d3.min.js' %}"></script>
<script src="{% static 'config/s/layout/layout.min.js' %}"></script>
<script src="{% static 'config/js/scroll/scroll.min.js' %}"></script>
<script src="{% static 'config/js/widgets/charts/discreteBarChart.min.js' %}"></script>
<script src="{% static 'config/js/widgets/charts/linePlusBarChart.min.js' %}"></script>
<script src="{% static 'config/js/widgets/charts/stackedBarChart.min.js' %}"></script>
<script src="{% static 'config/js/widgets/employer-form/employer-form.min.js' %}"></script>
<script src="{% static 'config/js/widgets/line-chart/line-charts-nvd3.min.js' %}"></script>
<script src="{% static 'config/js/widgets/map/maps.min.js' %}"></script>
<script src="{% static 'config/js/widgets/pie-chart/pie-charts-nvd3.min.js' %}"></script>
<script src="{% static 'config/js/widgets/table/table.min.js' %}"></script>
<script src="{% static 'config/js/widgets/todo/todo.min.js' %}"></script>
<!-- endinject -->
